# Oracle 설치

- Oracle 다운로드
  - https://www.oracle.com/kr/database/technologies/oracle-database-software-downloads.html
  - Download Oracle Database XE for Windows(ZIP) 버튼을 클릭하여 다운로드

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_download.png" width=50%>
</center>

- Oracle 설치
  - 압축을 풀고 setup.exe 파일을 실행하여 설치
    - 설치 폴더 설정
    - 접속 패스워드 설정
    - TNS Listener 허용 (TNSLSNR.exe)
      - 한 시스템에 오라클DB가 여러개 설치가 되어있는 경우 외부에서 접속을 하면 TNS Listener는 SID값을 가지고 어느 오라클DB로 접속시킬지 중개하는 역할
    - Java(TM) Platform SE binary 액세스 허용
<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install01.png" width=30%><img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install02.png" width=30%><img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install03.png" width=30%>
</center>    
<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install04.png" width=30%><img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install05.png" width=30%><img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install06.png" width=30%>
</center>   
<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install07.png" width=30%><img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install08.png" width=30%><img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install09.png" width=30%>
</center>

- CMS창에서 Oracle 실행
  - CMD 창에서 sqlplus 명령어를 실행
  - user name은 system으로 password는 설치때 설정한 암호를 입력

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_execute001.png" width=50%>
</center>

- Oracle SQL Developer 다운로드
  - https://www.oracle.com/database/sqldeveloper/technologies/download/ 에서 Oracle SQL Developer 다운로드  

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_developer001.png" width=50%>
</center>

- Oracle SQL Developer의 압축을 풀고 sqldeveloper.exe 실행하여 설치 후 실행

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_developer002.png" width=30%><img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_developer003.png" width=20%>
</center>

- \+ 아이콘을 클릭

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_developer004.png" width=50%>
</center>

- 접속정보를 입력하고 접속 버튼을 클릭
  
<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_developer005.png" width=40%>
</center>
<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_developer006.png" width=40%>
</center>

# Oracle DB에 접속하기

- Python에서 Oracle Database 에 접속해서 DB 작업을 할 수 있도록 도와주는 라이브러리에 cx_Oracle과 python-oracledb 가 있음

- cx_Oracle 라이브러리의 구조
  - 반드시 cx_Oracle을 사용하는 파이썬 프로그램이 돌아가는 서버에 Oracle Client가 설치되어 있어야 함

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_python-cxoracle_arch.png" width=40%><br><font size=1>참고 : https://cx-oracle.readthedocs.io</font>
</center>

- python-oracledb 라이브러리
  - cx_Oracle의 업그레이드 버전 : 기능 추가
  - 참고 : https://python-oracledb.readthedocs.io/en/latest/user_guide/installation.html
  - thin 모드와 thick 모드 지원
    - thin 모드 : 서버에 Oracle Client가 없어도 됨
      - DB Startup/Stop, TAF기능사용, BFILE Type 지원, 21c JSON Data Type 지원, 2PC 등의 기능을 사용할 수 없음
    - thick 모드 : 서버에 Oracle Client가 있어야 됨

  - oracledb.init_oracle_client()가 들어가면 thick 모드로 동작
  
<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_python-oracledb-arch.png" width=40%><br><font size=1>참고 : https://cx-oracle.readthedocs.io</font>
</center><br>

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_python-oracledb-arch2.png" width=40%><br><font size=1>참고 : https://cx-oracle.readthedocs.io</font>
</center>

- 라이브러리 설치

In [2]:
!pip install cx_Oracle

Requirement already satisfied: cx_Oracle in c:\users\smhrd\anaconda3\lib\site-packages (8.3.0)

- 설치오류가 뜨는 경우
  - https://visualstudio.microsoft.com/visual-cpp-build-tools/ 에서 Build Tool 다운로드
  - Build Tool을 실행
  - C++를 사용한 데스크톱 개발을 선택하고 설치 버튼을 클릭하여 설치
  
  
<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_buildtool.png" width=40%>
</center>  
  
<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_buildtool_02.png" width=40%>
</center>  

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_buildtool_03.png" width=40%>
</center>  
    
<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_buildtool_04.png" width=80%>
</center>

- 오라클 접속하기

In [1]:
import cx_Oracle

un = "test_user_kang"
pw = "test_user_kang"
# IP: 포트/xe

dsn = "project-db-campus.smhrd.com:1524/xe"

# DB 연결 테스트
try:
    conn = cx_Oracle.connect(un, pw, dsn)
    print("DB 접속 성공")
# 접속 오류가 뜨는 경우
except cx_Oracle.DatabaseError as e:
    print(e)

DB 접속 성공

## DPI-1047: Cannot locate a 64-bit Oracle Client library 오류가 뜨는 경우

- Windows
  - https://www.oracle.com/database/technologies/instant-client/winx64-64-downloads.html 에서 오라클 클라이언트 라이브러리를 다운로드
  - 압축을 해제하고 C/IC21 폴더로 instantclient_xx_xx 폴더를 이동

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_python-cxoracle_window.png" width=50%>
</center>  

- Linux
  - https://www.oracle.com/database/free/get-started/ 에서 오라클 클라이언트 라이브러리를 다운로드
   - 설정 : https://docs.oracle.com/en/database/oracle/oracle-database/23/lacli/install-instant-client-using-zip.html#GUID-D3DCB4FB-D3CA-4C25-BE48-3A1FB5A22E84

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_python-cxoracle_linux.png" width=50%>
</center>

- 오라클 instant client 등록

In [2]:
# cx_Oracle.init_oracle_client(lib_dir=r"C:\IC21\instantclient_21_11")

ProgrammingError: Oracle Client library has already been initialized

In [3]:
#실습

# 데이터 입력, 수정, 삭제, 검색

- 커서 객체 생성하기
    - Cursor 객체 : 작성한 query문을 DB에 전송하거나 DB의 검색 결과를 가져오는 역할

In [7]:
cursor = conn.cursor()

- 테이블 생성하기

In [6]:
query = """create table test_tbl3 (
    code varchar(10) primary key,
    name varchar(10) not null,
    age integer not null)"""

try :
    # 쿼리문을 DB로 보내 실행
    cursor.execute(query)
    # 실행 확인
    conn.commit()
except cx_Oracle.DatabaseError as e :
    print(e)

- 생성한 테이블 목록보기

In [8]:
query = "select * from tabs"

try :
    cursor.execute(query)
    
    # 검색한 결과를 받아온다
    # fetchall() : 검색한 전체 데이터를 가져온다
    row = cursor.fetchall()
    
    print(row)
except cx_Oracle.DatabaseError as e:
    print(e)

[('MEMBER_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 2, 5, 0, 0, 0, 32, 0, 0, '         1', '         1', '    N', 'ENABLED', 2, datetime.datetime(2023, 11, 2, 22, 0, 9), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('SSONG_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 1, 5, 0, 0, 0, 16, 0, 0, '         1', '         1', '    N', 'ENABLED', 1, datetime.datetime(2023, 11, 3, 22, 0, 8), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('EUN0_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 1, 5, 0, 0, 0, 19, 0, 0, '         1', '         1', '    N', 'ENABLED', 1, datetime.datetime(2023, 11, 3, 22, 0, 8), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('HYEON_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 0, 0, 0, 0, 0, 0, 0, 0, '         1', '         1', '    N', 'ENABLED', 0, datetime.datetime(2023, 11, 3, 22, 0, 8), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('KYS_TB2', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 1, 5, 0, 0, 0, 21, 0, 0, '         1', '         1', '    N', 'ENABLED', 1, datetime.datetime(2023, 11, 3, 22, 0, 8), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('H_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 1, 5, 0, 0, 0, 22, 0, 0, '         1', '         1', '    N', 'ENABLED', 1, datetime.datetime(2023, 11, 3, 22, 0, 8), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('GOBOMI_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 1, 5, 0, 0, 0, 22, 0, 0, '         1', '         1', '    N', 'ENABLED', 1, datetime.datetime(2023, 11, 3, 22, 0, 8), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('KMG_TABLE', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 0, 0, 0, 0, 0, 0, 0, 0, '         1', '         1', '    N', 'ENABLED', 0, datetime.datetime(2023, 11, 3, 22, 0, 8), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('MARI_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 2, 5, 0, 0, 0, 11, 0, 0, '         1', '         1', '    N', 'ENABLED', 2, datetime.datetime(2023, 11, 4, 14, 5, 9), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('JHJ_TABLE', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 13, 5, 0, 0, 0, 18, 0, 0, '         1', '         1', '    N', 'ENABLED', 13, datetime.datetime(2023, 11, 2, 22, 0, 8), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('MINGLY_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 2, 5, 0, 0, 0, 19, 0, 0, '         1', '         1', '    N', 'ENABLED', 2, datetime.datetime(2023, 11, 1, 22, 0, 8), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('AROME_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 4, 5, 0, 0, 0, 15, 0, 0, '         1', '         1', '    N', 'ENABLED', 4, datetime.datetime(2023, 11, 2, 22, 0, 8), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('JIHO_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 3, 5, 0, 0, 0, 18, 0, 0, '         1', '         1', '    N', 'ENABLED', 3, datetime.datetime(2023, 11, 2, 22, 0, 8), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('SHJ_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 5, 5, 0, 0, 0, 15, 0, 0, '         1', '         1', '    N', 'ENABLED', 5, datetime.datetime(2023, 11, 2, 22, 0, 9), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('TEST1_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 2, 5, 0, 0, 0, 18, 0, 0, '         1', '         1', '    N', 'ENABLED', 2, datetime.datetime(2023, 11, 2, 22, 0, 9), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('JSGED_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 3, 5, 0, 0, 0, 16, 0, 0, '         1', '         1', '    N', 'ENABLED', 3, datetime.datetime(2023, 11, 2, 22, 0, 8), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('PSH_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 0, 0, 0, 0, 0, 0, 0, 0, '         1', '         1', '    N', 'ENABLED', 0, datetime.datetime(2023, 11, 1, 22, 0, 8), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('JINEW_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 2, 5, 0, 0, 0, 18, 0, 0, '         1', '         1', '    N', 'ENABLED', 2, datetime.datetime(2023, 11, 2, 22, 0, 9), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('HYUK1', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 3, 5, 0, 0, 0, 9, 0, 0, '         1', '         1', '    N', 'ENABLED', 3, datetime.datetime(2023, 11, 3, 22, 0, 8), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('JUMYEONG_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 5, 5, 0, 0, 0, 20, 0, 0, '         1', '         1', '    N', 'ENABLED', 5, datetime.datetime(2023, 11, 2, 22, 0, 9), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('DAEUN_DB', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 2, 5, 0, 0, 0, 17, 0, 0, '         1', '         1', '    N', 'ENABLED', 2, datetime.datetime(2023, 11, 2, 22, 0, 9), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('BOMIGO_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 2, 5, 0, 0, 0, 18, 0, 0, '         1', '         1', '    N', 'ENABLED', 2, datetime.datetime(2023, 11, 2, 22, 0, 8), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('JINGYU_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 10, 5, 0, 0, 0, 17, 0, 0, '         1', '         1', '    N', 'ENABLED', 10, datetime.datetime(2023, 11, 2, 22, 0, 8), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('SEO_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 2, 5, 0, 0, 0, 18, 0, 0, '         1', '         1', '    N', 'ENABLED', 2, datetime.datetime(2023, 11, 2, 22, 0, 9), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('JG_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 3, 5, 0, 0, 0, 15, 0, 0, '         1', '         1', '    N', 'ENABLED', 3, datetime.datetime(2023, 11, 2, 22, 0, 8), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('SUBIN_TB', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 3, 5, 0, 0, 0, 12, 0, 0, '         1', '         1', '    N', 'ENABLED', 3, datetime.datetime(2023, 11, 2, 22, 0, 8), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('HS_TABLE', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 6, 5, 0, 0, 0, 15, 0, 0, '         1', '         1', '    N', 'ENABLED', 6, datetime.datetime(2023, 11, 2, 22, 0, 8), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('NULLYNULLY_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 2, 5, 0, 0, 0, 10, 0, 0, '         1', '         1', '    N', 'ENABLED', 2, datetime.datetime(2023, 11, 2, 22, 0, 8), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('KYS_TB', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 5, 5, 0, 0, 0, 17, 0, 0, '         1', '         1', '    N', 'ENABLED', 5, datetime.datetime(2023, 11, 2, 22, 0, 8), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('GH_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 10, 5, 0, 0, 0, 18, 0, 0, '         1', '         1', '    N', 'ENABLED', 10, datetime.datetime(2023, 11, 2, 22, 0, 8), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('HYUK2', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 0, 0, 0, 0, 0, 0, 0, 0, '         1', '         1', '    N', 'ENABLED', 0, datetime.datetime(2023, 11, 1, 22, 0, 8), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('ASDF13', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 7, 5, 0, 0, 0, 16, 0, 0, '         1', '         1', '    N', 'ENABLED', 7, datetime.datetime(2023, 11, 2, 22, 0, 8), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('JINGYU_TEST2', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 0, 0, 0, 0, 0, 0, 0, 0, '         1', '         1', '    N', 'ENABLED', 0, datetime.datetime(2023, 11, 1, 22, 0, 8), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('JINGYU_TEST', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 0, 0, 0, 0, 0, 0, 0, 0, '         1', '         1', '    N', 'ENABLED', 0, datetime.datetime(2023, 11, 1, 22, 0, 8), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('JINGYU_TEST3', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 0, 0, 0, 0, 0, 0, 0, 0, '         1', '         1', '    N', 'ENABLED', 0, datetime.datetime(2023, 11, 1, 22, 0, 8), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('GUNHAK_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 0, 5, 0, 0, 0, 0, 0, 0, '         1', '         1', '    N', 'ENABLED', 0, datetime.datetime(2023, 11, 2, 22, 0, 7), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('JINGYU_TEST5', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 0, 0, 0, 0, 0, 0, 0, 0, '         1', '         1', '    N', 'ENABLED', 0, datetime.datetime(2023, 11, 1, 22, 0, 8), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('PHONE_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 1, 5, 0, 0, 0, 17, 0, 0, '         1', '         1', '    N', 'ENABLED', 1, datetime.datetime(2023, 10, 25, 22, 0, 9), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('TEST_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', None, None, None, None, None, None, None, None, '         1', '         1', '    N', 'ENABLED', None, None, 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'NO', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('HONG', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', None, None, None, None, None, None, None, None, '         1', '         1', '    N', 'ENABLED', None, None, 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'NO', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('TEST_TBL3', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', None, None, None, None, None, None, None, None, '         1', '         1', '    N', 'ENABLED', None, None, 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'NO', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('ADMIN_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 2, 5, 0, 0, 0, 20, 0, 0, '         1', '         1', '    N', 'ENABLED', 2, datetime.datetime(2023, 10, 30, 22, 0, 7), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('KM_TABLE', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 0, 0, 0, 0, 0, 0, 0, 0, '         1', '         1', '    N', 'ENABLED', 0, datetime.datetime(2023, 11, 4, 14, 5, 8), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('WORD_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 9, 5, 0, 0, 0, 19, 0, 0, '         1', '         1', '    N', 'ENABLED', 9, datetime.datetime(2023, 10, 25, 22, 0, 9), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT')]

- DB에 데이터 저장하기

In [10]:
query = "insert into test_tbl3 values ('A100', '김유신', 56)"

try :
    # 쿼리문에 입력한 데이터를 할당해서 쿼리문을 완성해서 실행
    cursor.execute(query, input_data)
    conn.commit()
    print("데이터 저장 완료")
except cx_Oracle.DatabaseError as e:
    print(e)

NameError: name 'input_data' is not defined

- 직접 데이터를 입력하여 DB로 저장

In [ ]:
code = input("코드 입력 : ")
name = input("이름 입력 : ")
age = int(input("나이 입력 : "))

# 입력한 데이터를 딕셔너리로 저장
input_data = {"code":code, "name":name, "age":age}

# 입력한 데이터가 포함되도록 쿼리문을 생성
# 괄호 안에 :키값 형태로 표시
query = "insert into test_table values (:code, :name, :age)"

try :
    # 쿼리문에 입력한 데이터를 할당해서 쿼리문을 완성해서 실행
    cursor.execute(query, input_data)
    conn.commit()
    print("데이터 저장 완료")
except cx_Oracle.DatabaseError as e :
    print(e)

- 중간 결과를 확인하고자 하는 경우

In [ ]:
code = input("코드 입력 : ")
name = input("이름 입력 : ")
age = int(input("나이 입력 : "))

query = "insert into test_table values ('{code}'', '{name}', '{age}')"

print(query)

try :
    cursor.execute(query, input_data)
    conn.commit()
    print("데이터 저장 완료")
except cx_Oracle.DatabaseError as e :
    print(e)

- DB에서 원하는 테이블의 전체 데이터 가져오기

In [31]:
query = "select * from test_tbl"

try :
    cursor.execute(query)
    row = cursor.fetchall()
    
except cx_Oracle.DatabaseError as e :
    print(e)

[('A100', '홍길동', 23, '의적', '장성'),
 ('A200', '이순신', 34, '장군', '여수'),
 ('A300', '김유신', 45, '장군', '경주')]

- 결과를 데이터 프레임으로 출력하기

In [ ]:
import pandas as pd
df = pd.DataFrame(row, columns=["코드", "이름", "나이"])

df

- DB에서 원하는 테이블의 데이터를 키워드로 검색하기

In [1]:
code = input("검색할 코드 입력 : ")

input_data = {"code":code}

# : 앞에 빈 공백을 쓰지 X
query = "select * from test_tbl where code=:code"

try :
    # 쿼리문에 입력한 데이터를 등록해서 완성
    row = cursor.fetchall()
    
    # 검색한 1개의 데이터만 가져온다
    # row = cursor.fetchall()
    
    # 데이터프레임에 출력하려면
    row = cursor.fetchall()
    
    print(row)
except cx_Oracle.DatabaseError as e :
    print(e)

KeyboardInterrupt: Interrupted by user

In [ ]:
df = pd.DataFrame(row, columns=["코드", "이름", "나이"])

- 데이터 변경하기

In [ ]:
code = input("변경할 코드 : ")
name = input("변경할 이름 : ")
age = int(input("변경할 나이 : "))

input_data = {"code":code, "name":name, "age":age}

query = "update test_tbl set name=:name, age=:age where code=:code" 

try :
    cursor.execute(query, input_data)
    conn.commit()
    print("데이터 저장 완료")
except cx_Oracle.DatabaseError as e :
    print(e)

- 데이터 삭제하기

In [42]:
#실습

삭제할 코드 : A100
삭제 완료

[('A200', '이순신', 34, '장군', '여수'), ('A300', '김유신', 45, '장군', '경주')]

- 접속종료

In [ ]:
#실습

# 모듈로 제작하기 - 클래스를 안 배운 경우

In [1]:
#실습

Overwriting DB_Control.py

In [2]:
#실습

접속 완료

In [3]:
#실습

코드 : 1
이름 : 1
나이 : 1
직업 : 1
주소 : 1
insert into member_tbl values (:code,:name,:age,:job,:addr)
입력 완료

In [3]:
#실습

[('A200', '이순신', 34, '장군', '여수'), ('A100', '홍길동', 23, '의적', '장성'), ('1', '1', 1, '1', '1')]

In [5]:
#실습

코드 : A200
[('A200', '이순신', 34, '장군', '여수')]

In [5]:
#실습

코드 : 1
이름 : 3
나이 : 3
직업 : 3
주소 : 3
update member_tbl set name=:name,age=:age,job=:job,addr=:addr where code='1'
변경 완료
[('A200', '이순신', 34, '장군', '여수'), ('A100', '홍길동', 23, '의적', '장성'), ('1', '3', 3, '3', '3')]

In [3]:
#실습

코드 : 1
삭제 완료
[('A200', '이순신', 34, '장군', '여수'), ('A100', '홍길동', 23, '의적', '장성')]

In [4]:
#실습

접속 종료